body {
	background-image: url(../images/back-ground.jpg);
	background-size: cover;
}

header .wrap {
	max-width: 960px;
	margin: auto;
}

header h1 {
	font-family: "Bebas Neue";
	color: #ccc;
	font-size: 3em;
	display: inline-block;
	cursor: pointer;
}

.game-tools {
	float: right;
	margin: 33px 0;
}

.game-tools div {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
	cursor: pointer;
}

.game-tools img {
	height: 40px;
}

#new-game img {
	height: 43px;
}

#new-game img:hover {
    transform: rotate(-360deg);
    transition: all 1s ease; 
}

#help img {

}

#help img:hover {
	transform: scale(1.1); 
}


.grid {
	width: 960px;
	margin: auto;
}

.grid > div {
	display: inline-block;
	margin: 0;

}

#terms-container > div > div {
	min-height: 100px;
	min-width: 50px;
	display: inline-block;
	background-color: rgba(0,0,0,.5);
	margin: 5px;
}

.term {
	width: 100px;
	overflow: auto;
	text-align: right;
	position: relative;
}

.term p {
	width: calc(100% - 14px);
	color: #ccc;
	position: absolute; 
	bottom: 7px;
	right: 7px;
	margin: 0;
	font-family: "Bebas Neue";
	font-size: 1.45em;
	line-height: 1em;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

#terms-container > div > div:last-child {
	width: 300px;
	background-color: rgba(255,255,255,.1);
}

#defs-container {
	float: right;
}

.answer-row div {
	min-height: 100px;
	width: 300px;
	display: inline-block;
	background-color: rgba(0,0,0,.5);
	margin: 5px;
	position: relative;
}

.answer-row p {
	max-width: calc(100% - 30px);
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
	margin: 0;
	font-family: 'Ropa Sans', sans-serif;
	font-weight: 100;
	font-size: 12px;
}

#score {
	display: block;
	margin: 20px auto;
	text-align: center;
}

#score span {
	font-family: "Bebas Neue";
	color: #ccc;
	font-size: 1.5em;
}

#score span.number {
	font-size: 3em;
}

#next-check {
	position: absolute;
	left: 60vw;
	top: 49vh;
}

#next-check p {
	display: none;
	font-size: 3em;
	font-family: "Bebas Neue";
	color: #fff;
}

#info-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background: rgba(0,0,0,.5);
	display: none;
}

#info-overlay .exit {
	position: absolute;
	top: 50px;
	right: 50px;
	color: #ccc;
	font-family: "Bebas Neue" , sans-serif;
	font-size: 3em;
}

#info-overlay .container {
	width: 960px;
	margin: 150px auto;
	display: block;
}

#info-overlay h2 {
	font-family: "Bebas Neue" , sans-serif;
	color: #ccc;
	font-size: 3em;
	margin: 10px 0;
}

#info-overlay p {
	font-family: 'Ropa Sans', sans-serif;
	font-weight: 100;
	font-size: 2em;
	color: #ccc;
	margin: 10px 0;
}

#info-overlay a {
	color: #ccc;
	text-decoration: none;
}

#info-overlay a:hover {
	text-decoration: underline;
}



